body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.icon {
  width: 21px;
  color: #3faefd;
}
.pub {
  float: right;
}
.para {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
span {
  color: #3faefd;
}

h5 {
  color: #0000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h4 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.icon-1 {
  background: #0397fed1;
  color: #ffffff;
}
.icon-2 {
  background: #ffad01;
  color: #ffffff;
}
.icon-3 {
  background:#4CB050;
  color: #ffffff;
}

.icon-4{


   background: #ff474791;
  color: #000000;
}
.action:not(:first-child) {
  margin-left: 145px;
}

@media (max-width: 767px) {
  .title {
    font-size: 22px;
  }

  .pub {
    float: right;
  }
  .para {
    font-size: 14px;
  }

  h5 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
 
}

@media (max-width: 560px) {
.action:not(:first-child) {
  margin-left: 20px;
}
}
